@(product: Product)(implicit flash: Flash)

@main("Product details") {
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title text-inverse">@product.name - @product.ean</h3>
                </div>
                <div class="panel-body">
                    <p>@product.description</p>
                    <img src="@routes.Barcodes.barcode(product.ean)"
                    class="img-responsive"
                </div>
            </div>
        </div>
    </div>
}