@(message: String)(implicit flash: Flash)

@main("Welcome to Play") {

    <div class="col-md-12">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#"><img class="media-object" src="http://placehold.it/64x64"></a>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                        ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                        tempus viverra turpis.</p>
                </div>
            </li>
            <li class="media">
                <a class="pull-left" href="#"><img class="media-object" src="http://placehold.it/64x64"></a>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                        ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                        tempus viverra turpis.</p>
                </div>
            </li>
        </ul>
    </div>

}
